# Final Project Submission

- Student Name: Deztany Jackson
- Student Pace: Self Pace
- Scheduled Project Review:
- Instructor Name: Morgan Jones
- Blog Post URL:

### Quesitons /Comments

- When do we do the TP/FP/TN Stuff?
    - Do cross tab table
- Change Columns Names to more intuitive

- Explore dataset
    - Value Counts: group by Table
    - Graph Prices
    - Historgram of dataset
    - How many of each category is there now....% of dataset
- Any duplicates
- Look into function of class of cross valudation from workflow model

## Classification of Paris Housings - Luxury vs Basic

# Business Understanding

In [ ]:
#Stakeholder and Business Problem

# Data Understanding

In [11]:
#Import packages

import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

#from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
#from sklearn.pipeline import Pipeline
#from sklearn.preprocessing import StandardScaler, OneHotEncoder, FunctionTransformer
#from sklearn.impute import SimpleImputer
#from sklearn.compose import ColumnTransformer
#from sklearn.linear_model import LogisticRegression
#from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
#from sklearn.metrics import plot_confusion_matrix, recall_score,\
    #accuracy_score, precision_score, f1_score

#from imblearn.over_sampling import SMOTE
#from imblearn.pipeline import Pipeline as ImPipeline

Describe the dataset and where it came from and links [kaggle]

In [13]:
# Import csv file
paris_df = pd.read_csv("data/ParisHousingClass.csv")
paris_df.head(50)

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price,category
0,75523,3,0,1,63,9373,3,8,2005,0,1,4313,9005,956,0,7,7559081.5,Basic
1,80771,39,1,1,98,39381,8,6,2015,1,0,3653,2436,128,1,2,8085989.5,Luxury
2,55712,58,0,1,19,34457,6,8,2021,0,0,2937,8852,135,1,9,5574642.1,Basic
3,32316,47,0,0,6,27939,10,4,2012,0,1,659,7141,359,0,3,3232561.2,Basic
4,70429,19,1,1,90,38045,3,7,1990,1,0,8435,2429,292,1,4,7055052.0,Luxury
5,39223,36,0,1,17,39489,8,6,2012,0,1,2009,4552,757,0,1,3926647.2,Basic
6,58682,10,1,1,99,6450,10,9,1995,1,1,5930,9453,848,0,5,5876376.5,Luxury
7,86929,100,1,0,11,98155,3,4,2003,1,0,6326,4748,654,0,10,8696869.3,Basic
8,51522,3,0,0,61,9047,8,3,2012,1,1,632,5792,807,1,5,5154055.2,Basic
9,39686,42,0,0,15,71019,5,8,2021,1,1,5198,5342,591,1,3,3970892.1,Basic
10,23563,21,0,1,90,91058,6,8,1993,1,0,703,852,684,1,10,2366397.3,Basic
11,96470,74,1,0,21,92029,4,2,2011,1,1,5414,1172,716,1,9,9652258.1,Basic
12,19127,31,1,0,5,7475,2,9,2008,0,0,5387,4430,374,0,4,1914688.8,Basic
13,13087,44,1,0,77,40475,8,4,2004,1,0,1745,724,582,0,0,1320803.4,Basic
14,79770,3,0,1,69,54812,10,5,2018,0,1,8871,7117,240,0,7,7986665.8,Basic
15,75985,60,1,0,67,6517,6,9,2009,1,1,4878,281,384,1,5,7607322.9,Basic
16,64169,88,0,1,6,61711,3,9,2011,1,1,3054,129,726,0,9,6420823.1,Basic
17,99371,31,1,1,16,96297,7,8,2013,1,1,3258,6296,354,1,8,9944705.3,Luxury
18,25966,37,1,1,17,22818,3,1,2016,0,0,8257,2557,162,0,6,2604486.6,Basic
19,41792,43,1,1,10,80768,9,5,2017,1,1,2950,9573,572,1,5,4187667.7,Luxury
20,28795,64,1,1,50,97667,3,4,2009,1,1,9862,2666,330,1,0,2888047.9,Luxury
21,92383,12,0,0,78,71982,3,7,2000,0,0,7507,9056,892,1,1,9244344.0,Basic
22,33279,64,1,0,65,91690,3,2,2019,1,1,2427,717,732,0,1,3333351.9,Basic
23,34782,47,0,0,73,35331,1,4,2020,0,1,9586,6604,822,0,2,3482594.0,Basic
24,13386,51,0,0,90,87978,4,6,1993,0,0,2885,1149,904,1,4,1342509.3,Basic
25,20883,56,0,0,54,85377,5,9,2018,0,0,9982,8142,670,1,10,2091505.8,Basic
26,95121,46,0,1,3,9382,7,9,1994,0,0,615,1221,328,0,10,9515440.4,Basic
27,6071,72,1,0,14,8410,2,6,2003,1,1,3306,3635,295,0,2,612471.3,Basic
28,11844,43,0,0,55,46144,6,5,1993,1,0,5292,8233,395,0,10,1189939.3,Basic
29,52078,7,1,1,73,20372,10,4,2016,1,1,1864,2049,558,0,5,5217708.6,Luxury
30,25897,98,1,0,92,20344,2,4,1993,0,1,9799,9569,116,1,10,2598763.3,Basic
31,85443,40,1,1,54,339,3,1,2021,1,0,3056,8928,292,1,2,8555234.1,Luxury
32,11412,78,0,0,79,73807,1,5,2009,1,1,6899,8997,695,0,0,1145642.9,Basic
33,97550,89,1,1,98,78155,2,5,2014,1,0,5391,897,388,0,0,9765099.4,Luxury
34,76485,47,1,0,9,90254,2,9,2008,1,0,2860,3129,982,0,1,7653300.8,Basic
35,26169,29,0,0,62,66489,9,7,1993,0,1,7918,187,919,1,9,2622399.3,Basic
36,24239,87,1,0,91,73056,4,7,1998,0,0,6656,7149,698,0,3,2427801.8,Basic
37,36239,8,0,1,24,66771,7,6,1990,0,1,6679,6528,798,1,5,3627708.0,Basic
38,10500,88,0,1,49,10533,10,1,2013,1,1,4170,5501,422,0,5,1057021.3,Basic
39,87060,27,0,1,91,51803,8,10,2000,0,0,6629,435,512,0,7,8711426.0,Basic
40,66683,19,1,1,6,50801,6,2,2001,0,0,7473,796,237,1,3,6677649.1,Basic
41,66569,59,1,1,56,15574,7,9,2016,1,1,2020,7188,269,1,10,6667802.6,Luxury
42,84559,29,0,1,69,53057,7,7,2000,1,0,3573,9556,918,1,8,8460604.0,Basic
43,28749,39,0,1,53,80821,6,5,1996,1,0,8113,2352,982,1,3,2877997.6,Basic
44,76091,38,1,0,32,59451,5,8,2016,1,0,8150,6037,930,0,7,7614076.6,Basic
45,92696,49,1,0,38,74381,9,2,2021,0,0,1559,5111,957,1,2,9272740.1,Basic
46,46988,66,1,1,27,4863,9,10,1991,1,1,8339,6331,874,1,4,4707341.1,Luxury
47,48062,22,0,1,4,28104,1,10,2008,1,0,7908,552,817,1,1,4809993.8,Basic
48,5767,97,1,1,11,44551,7,3,1998,1,0,2516,5601,307,1,4,586742.8,Luxury
49,59800,47,0,1,27,44815,6,9,2021,0,0,5075,3104,864,0,4,5984462.1,Basic

This dataset has 10000 rows and 18 columns (including the target)

In [14]:
#Shape of dataset
paris_df.shape

(10000, 18)

In [17]:
#Describe the dataset
paris_df.describe()

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.00000,10000.00000,10000.000000,10000.00000,1.000000e+04
mean,49870.13120,50.358400,0.508700,0.496800,50.276300,50225.486100,5.510100,5.521700,2005.48850,0.499100,0.499900,5033.103900,5028.01060,553.12120,0.503000,4.99460,4.993448e+06
std,28774.37535,28.816696,0.499949,0.500015,28.889171,29006.675799,2.872024,2.856667,9.30809,0.500024,0.500025,2876.729545,2894.33221,262.05017,0.500016,3.17641,2.877424e+06
min,89.00000,1.000000,0.000000,0.000000,1.000000,3.000000,1.000000,1.000000,1990.00000,0.000000,0.000000,0.000000,1.00000,100.00000,0.000000,0.00000,1.031350e+04
25%,25098.50000,25.000000,0.000000,0.000000,25.000000,24693.750000,3.000000,3.000000,1997.00000,0.000000,0.000000,2559.750000,2512.00000,327.75000,0.000000,2.00000,2.516402e+06
50%,50105.50000,50.000000,1.000000,0.000000,50.000000,50693.000000,5.000000,5.000000,2005.50000,0.000000,0.000000,5092.500000,5045.00000,554.00000,1.000000,5.00000,5.016180e+06
75%,74609.75000,75.000000,1.000000,1.000000,76.000000,75683.250000,8.000000,8.000000,2014.00000,1.000000,1.000000,7511.250000,7540.50000,777.25000,1.000000,8.00000,7.469092e+06
max,99999.00000,100.000000,1.000000,1.000000,100.000000,99953.000000,10.000000,10.000000,2021.00000,1.000000,1.000000,10000.000000,10000.00000,1000.00000,1.000000,10.00000,1.000677e+07

In [18]:
#Information on dataset
paris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   squareMeters       10000 non-null  int64
 1   numberOfRooms      10000 non-null  int64
 2   hasYard            10000 non-null  int64
 3   hasPool            10000 non-null  int64
 4   floors             10000 non-null  int64
 5   cityCode           10000 non-null  int64
 6   cityPartRange      10000 non-null  int64
 7   numPrevOwners      10000 non-null  int64
 8   made               10000 non-null  int64
 9   isNewBuilt         10000 non-null  int64
 10  hasStormProtector  10000 non-null  int64
 11  basement           10000 non-null  int64
 12  attic              10000 non-null  int64
 13  garage             10000 non-null  int64
 14  hasStorageRoom     10000 non-null  int64
 15  hasGuestRoom       10000 non-null  int64
 16  price              10000 non-null  float64
 17  category           10000 non-null  object
dtypes: float64(1), int64(16), object(1)
memory usage: 1.4+ MB

In [ ]:
# There are no textual values although some are categorical
- Num of Rooms
- Has Yard
- Has Pool

In [25]:
#Any null values? - No NULL Values
#paris_df.isnull().sum()

squareMeters         0
numberOfRooms        0
hasYard              0
hasPool              0
floors               0
cityCode             0
cityPartRange        0
numPrevOwners        0
made                 0
isNewBuilt           0
hasStormProtector    0
basement             0
attic                0
garage               0
hasStorageRoom       0
hasGuestRoom         0
price                0
category             0
dtype: int64

In [ ]:
# Describe data Features

- Plot Distribution of data
- Multicolinearity
- Heatmap

In [ ]:
#Are we removing any features for general importance?

# Data Preparation

# Modeling

In [ ]:
##

In [3]:
## Baseline Model [LogReg,Decision Tree, Random Forest]

In [ ]:
## Data Prep - SMOTE [Imbalance]

In [ ]:
## 2nd Iteration Simple Model[LogReg,Decision Tree, Random Forest]

In [ ]:
## 3rd Iteration - Choose best model to go on with [Grid/Random Searching ] Maybe Random Forest

# Evaluation